
.card-cont {
  background: #fff;
  border-radius: 2px;
  height: 35em;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  /* box-shadow: 0 0 45px 0 rgba(0,0,0,.15); */
  text-align: left;
  cursor: pointer;
}

.card-cont > .img-cont {
  height: 50%;
  overflow: hidden;
  text-align: center;
}
.card-cont > .img-cont > img {
  height: 50%;
  width: auto;
  margin-top: 8%;
}

.card-cont > .text-content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
}

.btn-primary {
  color: black;
  background-color: #27ff00!important;
  border-color: #fffe00;
}

.btn-success {
  color: #fff;
  background-color: #343a40!important;
  border-color: #a72828;
}

.btn-info {
  color: #fff;
  background-color: #ffc107!important;
  border-color: #21b817;
}

/* remove card */
/* .card-cont > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  
}

.card-cont > .remove:hover {
  color: #d50000;
} */

.price-modify {
  color:#067CDE;
  margin-top: 2%;
  cursor: pointer;
  font-size: 20px;
}

.price-modify:hover {
  color: green;
}




